body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
    background-image: url("https://images.pexels.com/photos/1793037/pexels-photo-1793037.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.container {
    background-color: rgb(241, 210, 131);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #ff69b4;
}

button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ff1493;
}

.hidden {
    display: none;
}

#more-info {
    margin-top: 20px;
}

@media (max-width:400px) {
    body img{
        height: 100%;
    }
}